 /* Aplica Montserrat a todo el cuerpo de texto */
 body {
    font-family: 'Montserrat', sans-serif;
}

/* Aplica Playfair Display a los encabezados */
h1, h2, h3, h4, h5, h6 {
    font-family: 'Playfair Display', serif;
}

/* Estilos para el efecto hover de los botones de navegación */
.nav-link:hover {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 0.25rem;
    padding: 0.5rem 1rem;
  
}

/* Estilos para los iconos de redes sociales */
.social-icon:hover {
    color: #ffbb00; /* Cambia a un color deseado */
    transform: scale(1.1);
    transition: transform 0.3s ease, color 0.3s ease;
}

/* Estilos para los botones */
.button:hover {
    background-color: #ffbb00; /* Cambia a un color deseado */
    color: #000;
    transform: scale(1.05);
    transition: background-color 0.3s ease, transform 0.3s ease;
}

/* Estilos para el efecto de transición en imágenes del slider */
.gallery-slider img {
    transition: opacity 0.5s ease-in-out;
}

.gallery-slider img.fade {
    opacity: 0;
}

.gallery-slider img.active {
    opacity: 1;
}

/* Estilos para el contenedor de la galería */
.gallery-slider {
    position: relative;
    overflow: hidden;
    max-width: 80%; /* Ajusta según lo necesario */
    max-height: 600px; /* Ajusta según lo necesario */
    margin: auto;
    border-radius: 10px; /* Bordes redondeados opcionales */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra opcional */
}

.gallery-slider img {
    width: 100%;
    height: auto;
    display: none; /* Oculta las imágenes por defecto */
}

.gallery-slider img.active {
    display: block; /* Muestra la imagen activa */
    opacity: 1; /* Opacidad total para la imagen activa */
}

.gallery-slider img.fade {
    opacity: 0; /* Hace que las imágenes inactivas se desvanezcan */
}

.gallery-slider .slider-controls {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
}

.gallery-slider .slider-controls button {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}

.social-icons {
    display: flex;
    gap: 30px; /* Espacio entre iconos */
}

.social-icon i {
    font-size: 40px; /* Tamaño del icono */
    color: white; /* Color del icono */
    transition: color 0.3s ease;
}

.social-icon i:hover {
    color: #000000; /* Color del icono al pasar el ratón */
}

.hidden-menu {
    display: none;
}

.open-menu {
    display: block;
}